* {
    margin: 0;
    padding: 0;
    position: relative;
}

.layout-header{
    z-index: 1;
    width: 100%;

}

#home{
    width: 400px;
    margin: 0 auto;
}

.logo{
    display:block;
	width:100%;
	height:auto;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 60px;
}

.layout-footer {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    text-align: center;
    padding: 30px 0;
}


.layout-main {
    background-image: url('./bg3.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.select div img{
    width: 100%;
    width: 400px;
}

.recommend,
.question {
    height: 500px;
    width: 500px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.recommend:hover,
.question:hover{
    filter: brightness(0.8);
}

.show input,
.show textarea{
    padding: 0 10px;
    border: 0;
    width: 500px;
    height: 90%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    resize: none;
    border-radius: 10px;
}

.show button{
    height: 50px;
    background-color: rgb(100, 100, 240);
    color: white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.show button:hover{
    background-color: rgb(150, 150, 250);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

form div {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.resultContainer {
    width: 750px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.resultContainer::after{
    content: "";
    display: block;
    clear: both;
    width: 100%;
    height: 0;
}

.resultContainer button{
    width: 728px;
    box-sizing: border-box;
}

.resultContainer div{
    margin: 10px;
}

.resultContainer div a,
.resultContainer div p{
    line-height: 30px;
}

.userchat,
.aichat,
.typing {
    width: 60%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.aichat,
.typing{
    background-color: rgba(230, 200, 210, 0.6);
}

.aichat{
    float: left;
}

.userchat{
    float: right;
}

.resultContainer .typing p{
    animation: blink-effect 1s step-end infinite;
    line-height: normal;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}